

.container-fluid{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    margin-left: 20px;
    max-width: 40vw;
  
  }

 .textContainer{
    border: none;
    min-width: 50vw;
    max-width: 50vw;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    background-color: rgb(195, 240, 255);
  }

  .button{
    height: 65px;
    
  }